
bin/Microsoft.Owin.Hosting.xml
bin/Newtonsoft.Json.xml
bin/ScratchConsole.pdb
bin/ScratchConsole.vshost.exe
bin/ScratchConsole.vshost.exe.config
bin/ScratchConsole.vshost.exe.manifest
bin/System.Net.Http.Formatting.xml
bin/System.Web.Http.Owin.xml
bin/System.Web.Http.xml
src/ScratchConsole/.vs/
src/ScratchConsole/packages/
src/ScratchConsole/bin/
src/ScratchConsole/obj/